
#include "stm32f4_overlay.dtsi"

/ {			
	lcd_bl: lcd_bl {			
		compatible = "lcd-pins";
		gpios = <&gpiob 0 GPIO_ACTIVE_LOW>;	
	};
	lcd_enb: lcd_enb {			
		compatible = "lcd-pins";
		gpios = <&gpiob 13 GPIO_ACTIVE_LOW>;
	};
	lcd_rst: lcd_rst {			
		compatible = "lcd-pins";
		gpios = <&gpioc 5 GPIO_ACTIVE_LOW>;
	};		
	lcd_cmd: lcd_cmd {			
		compatible = "lcd-pins";
		gpios = <&gpiob 1 GPIO_ACTIVE_HIGH>;
	};		
	lcd_dta: lcd_dta {			
		compatible = "lcd-pins";
		gpios = <&gpiob 14 GPIO_ACTIVE_HIGH>;
	};		
	lcd_clk: lcd_clk {			
		compatible = "lcd-pins";
		gpios = <&gpiob 2 GPIO_ACTIVE_HIGH>;
	};			
	zephyr,user {
		/* adjust channel number according to pinmux in board.dts */
		io-channels = <&adc1 6>, <&adc1 7>, <&adc1 10>;
		io-channel-names = "ADC_Volt", "ADC_Rms", "ADC_Raw";
	};		
};

&adc1 {
	#address-cells = <1>;
	#size-cells = <0>;

	channel@6 {
		reg = <6>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
	channel@7 {
		reg = <7>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
	channel@10 {
		reg = <10>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};	
};

&dma1 {
	status = "okay";
};